<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}" id="Instagram"><img src="https://img.icons8.com/fluency/48/undefined/instagram-new.png"/>InstaGram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class=" navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}

        <li class="nav-item active">
          <a class="nav-link" href="{%url 'profile'%}"><i class="fa fa-user" aria-hidden="true"></i>
            Profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'logout'%}"><img src="https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/67/undefined/external-logout-arrow-line-royyan-wijaya-detailed-outline-royyan-wijaya.png"/>Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{%url 'login'%}"><img src="https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/67/undefined/external-logout-arrow-line-royyan-wijaya-detailed-outline-royyan-wijaya.png"/>Logout</a>
        </li>
      </ul>
      {% endif %}

      

      <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Users" aria-label="Search" name="profile">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>